<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Email
      <p class="subtitle"> Reset Link schicken </p>
    </ion-title>
  </div>
  <ion-item class="ion-item">
    <ion-input placeholder="Email" class="input" name="email" [(ngModel)]="email"></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-item>
  <div class="signinlink" (click)="resetAllMessages()">
    <p><a [routerLink]="['/login']">Zurück zum Login</a></p>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="acceptanceMessage" class="acc-message">{{ acceptanceMessage }}</div>
  <div class="ion-button-container">
    <ion-button (click)="sendEmailForNewPassword()">
      Reset Password
    </ion-button>
  </div>
</ion-content>
