.ion-button-container{
    position: fixed;
    bottom: calc(25% + 20px);
    width: 100%;
    text-align: center;
  }

.input{
    font-size: 300;

}

.ion-item{
    --background:'#f1f1f1';
    border-radius: 10px;
    margin-bottom: 16px;

}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subtitle{
        font-size:0.9rem;
    }

    .title{
        font-size: 2rem;
    }
}

.error-message {
    color: red;
    padding-top: 20px;
    text-align: center;
    font-size: 0.9em;
  }

.acc-message {
color: green;
padding-top: 20px;
text-align: center;
font-size: 0.9em;
}

.signinlink {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;

    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }

}